@font-face {
  font-family: MuliBold;
  src: url(../public/fonts/Muli-Bold.ttf);
}
@font-face {
  font-family: Muli;
  src: url(../public/fonts/Muli.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuliBold";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Muli";
  background: linear-gradient(0deg, #f5f7fa, #fff 40%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
